p {
  font-size: 20px;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("https://media.istockphoto.com/id/1374526825/photo/agriculture.jpg?s=612x612&w=0&k=20&c=eNwVGrehahV7kmtogxMj15rmEAH8mNc68lVBnAcF824=");
  min-height: 400px;
}
.pimg2 {
  background-image: url("https://images.stockcake.com/public/c/b/d/cbddfd0c-4d2e-4c2f-94a2-5c5ead90d115_large/athlete-playing-badminton-stockcake.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("https://assets.telegraphindia.com/telegraph/76126c3b-51ce-439e-83ad-603d2f04a715.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}
